# Clerk

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=[your_key]
CLERK_SECRET_KEY=[your_key]
CLERK_JWT_ISSUER_DOMAIN=[your_key]
CLERK_FRONTEND_API_URL=[your_key]

# Convex

CONVEX_DEPLOYMENT=[your_key]
NEXT_PUBLIC_CONVEX_URL=[your_key]
